// colors
$bg: #f9f8f5;
$bgo: #95959517;
$blue: #01306d;
// fonts
$fontColor: #000;
// font family
$fontRobot: 'Roboto', sans-serif;
$fontMont: 'Montserrat', sans-serif;
// font-size
$h1: 30px;
$h2: 20px;
$h3: 15px;