// colors
$bg: #f9f8f5;
$bgo: #95959517;
$blue: #01306d;
// font colors
$orange: #f7931e;
$red: #ed1c24;
$lightBlue: #0071bc;
// fonts
$fontColor: #000;
// font family
$fontRobot: 'Roboto', sans-serif;
$fontMont: 'Montserrat', sans-serif;
$fontBau: 'Bauhaus93', sans-serif;
// font-size
$h1: 30px;
$h2: 20px;
$h3: 15px;