div#wrapper{
    background-image: url("../../resorces/img/SammenklipGamleBy.png");
    background-repeat: no-repeat;
    background-size: 100%;
    //padding-bottom: 
    
}
header{
    padding-bottom: (1080 / 1920 * 110)+5%;
    height: 0;
}
