@import "variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $fontMont;
}

p {
    line-height: 1.5;
}

body {
    background-color: $bg;

    div#wrapper {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-areas:
            ". center .";

        div#area-wrapper {
            grid-area: center;
            display: grid;

            grid-template-areas:
                "header"
                "main"
                "footer";

            header {
                grid-area: header;

                nav {
                    position: relative;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    margin: 10px;

                    div#logo {
                        align-self: center;
                        justify-self: center;

                        a {
                            display: block;
                            width: 200px;

                            img {
                                width: 100%;

                            }
                        }
                    }

                    ul {
                        display: flex;
                        justify-self: center;
                        align-self: center;
                        width: 50%;

                        li {
                            margin: 0 2.5%;
                            list-style: none;
                            color: $fontColor;
                            text-align: center;
                            width: 25%;

                            a {
                                text-decoration: none;
                                display: block;
                                color: $fontColor;
                                font-family: $fontRobot;
                            }
                        }
                    }

                    hr {
                        display: none;
                        position: absolute;
                        width: 8%;
                        height: 4px;
                        background-color: $blue;
                        border: none;
                    }
                }
            }

            main {
                grid-area: main;
                // padding-bottom: (1080 / 1920 * 100)+5%;
            }

            footer {
                grid-area: footer;
                display: grid;
                //2 columns
                @media only screen and (max-width: 600px) {
                    grid-template-columns: repeat(2, 50%);
                    height: unset;
                    margin-bottom: 20px;
                    padding-top: 10px;
                    grid-gap: 20px;
                    div.nyhedsbrev {
                        grid-column-start: 1;
                        grid-column-end: 3;
                        text-align: center;
                    }
                    div.social {
                        nav {                     
                            ul {
                                // justify-content: space-between;
                            }
                        }
                    }
                    @media only screen and (max-width: 450px){                        
                        grid-template-columns: repeat(1, 100%);
                        div.nyhedsbrev {
                            grid-column-start: unset;
                            grid-column-end: unset;
                        }
                        div.social {
                            nav {                         
                                margin-right: 0;
                            }
                        }
                    }
                }

                grid-template-columns: repeat(3, 33%);
                border-top: solid;
                // height: 200px;
                
                a.logo{
                    display: block;
                    width: 120px;

                    img {
                        width: 100%;
                        margin-bottom: 10px;

                    }
                }

                div.social {
                    align-self: center;

                    nav {
                        // margin-right: 28%;
                        ul {
                            display: flex;
                            // justify-content: space-between;
                            li {
                                list-style: none;
                                // width: 20%;
                                margin-right: 10px;

                                a {
                                    text-decoration: none;
                                    color: $fontColor;
                                    font-size: 50px;
                                    // display: block;
                                }
                            }
                        }
                    }
                }

                div.contact {
                    align-self: center;

                    h2 {
                        margin-bottom: 10px;
                        font-size: $h2;
                    }

                    address {}

                    p {}
                }

                div.nyhedsbrev {
                    form {
                        display: flex;
                    }
                    align-self: center;

                    h2 {
                        margin-bottom: 10px;
                        font-size: $h2;

                    }

                    input {
                        background: none;
                        height: 30px;
                        width: 100%;
                        border: solid 2px $blue;
                        color: $blue;
                    }

                    button {
                        height: 30px;
                        padding: 5px 10px;
                        background: $blue;
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
}