main {
    h1#spil-overskrift{
        text-align: center;
        margin: 20px 0;
    }
    button {
        width: 100px;
        background: none;
        border-radius: 5px;
        
        &#pauseBtn {
            border: solid green 4px;
            color: green;
        }

        &#restartBtn {
            border: solid orange 4px;
            color: orange;

        }
    }

    div#spil {
        display: grid;
        grid-template-rows: 70vh 1fr;

        div.spil-bg {
            background-color: rgb(201, 201, 201);
            overflow: hidden;
            position: relative;

            div.plakat {
                position: absolute;
                width: 80px;

                img {
                    width: 100%;
                    cursor: pointer;
                }
            }
            svg.ild {
                background-color: rgb(201, 201, 201);
                top: 100%;
                transform: translateY(-100%);
                position: absolute;
                width: 110%;
                height: 10%;
                left: -5%;
            }
        }


        div.plakat-samling {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            img {
                cursor: pointer;
            }

        }
    }
}