h1 {
    text-align: center;
    margin-bottom: 100px;
}

body {
	position: relative;
}

#linjeContainer {
	position: absolute;
	height: 100%;
	width: 55%;
	#linje{
		position: absolute;
		width: 100%;
		height: 100%;
		path {
			stroke-dasharray: 3550;
			stroke-dashoffset: 3550;
		}
	}
	.dot {
		position: absolute;
		width: 5%;
	}
	#firstDot {
		top: 23.5%;
		left: 94.3%;
	}
	#secondDot {
		top: 48.4%;
		left: 67.6%;
	}
	#thirdDot {
		top: 77.6%;
		left: 94.5%;
	}
}

#gridContainer {
	display: grid;
	.row {
		overflow: hidden;
		display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 100px;
		.right,
		.left {
			position: relative;
		}
		.plakat {
			text-align: center;
			width: 100%;
			img {
				width: 40%;
			}
		}
		.animation {
            &.left {
				img {
					// Duplikeret kode?
					width: 30%;
					top: 50%;
					left: 0;
					position: absolute;
					transform: translate(0, -50%);
				}
			}
			&.right {
				img {
					width: 30%;
					top: 50%;
					left: 100%;
					position: absolute;
					transform: translate(-100%, -50%);
				}
			}
		}
		.left {
			position: relative;
			text-align: center;
			width: 100%;
			transform: translateX(-100%);
			transition: 1s;
			p {
				padding: 4%;
			}
			
			&.fade-in-from-left {
				transform: translateX(0);
			}
		}
		.right {
			position: relative;
			transform: translateX(100%);
			transition: 1s;
			&.fade-in-from-right {
				transform: translateX(0);
			}
		}
	}
}
