h1 {
	text-align: center;
	margin-bottom: 100px;
}

body {
	position: relative;
}

#lunde-ild {
	transform: translate(-31%, -21%);
}

#linjeContainer {
	position: absolute;
	height: 100%;
	width: 55%;
	@media only screen and (max-width: 620px){
		width: 100%;
	}

	#linje {
		position: absolute;
		width: 100%;
		height: 100%;

		path {
			stroke-dasharray: 3550;
			stroke-dashoffset: 3550;
		}
	}

	.dot {	
		@media only screen and (max-width: 620px){
			left: 82% !important;
		}

		position: absolute;
		width: 5%;
		opacity: 0;

		p {
			position: absolute;
			top: 47%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-weight: bold;
		}
	}

	.show {
		opacity: 1;
	}

	#firstDot {
		top: 23.5%;
		left: 94.3%;
	}

	#secondDot {
		top: 48.4%;
		left: 67.6%;
	}

	#thirdDot {
		top: 77.6%;
		left: 94.5%;
	}
}

#gridContainer {
	display: grid;

	.row {
		&:last-child {
			margin-top: 100px;
			margin-bottom: 0;	
		}

		overflow: hidden;
		display: grid;
		@media only screen and (max-width: 620px) {
			grid-template-columns: 80% 20%;
		}

		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 100px;
		.right,
		.left {
			position: relative;
		}

		.plakat {
			@media only screen and (max-width: 620px) {
				text-align: left;
			}
			text-align: center;
			
			width: 100%;

			img {
				width: 40%;
			}
		}

		.animation {
			&.left {
				text-align: left;
				@media only screen and (max-width: 620px) {
					svg, img {
						width: 50% !important;
						position: absolute !important;
						left: 100% !important;
						transform: translateX(-100%) !important;
					}
				}
				svg#maane-raket {
					width: 50%;

					g {
						.st0 {
							fill: #808080;
						}

						.st1 {
							fill: #999999;
						}

						.st2 {
							fill: #E1E1E6;
						}

						.st3 {
							fill: #0071BC;
						}

						.st4 {
							fill: #B95A24;
						}

						.st5 {
							fill: #F95A24;
						}

						.st6 {
							fill: #FFCD3B;
						}

						&#raket-ild {}
					}
				}
			}

			&.right {
				@media only screen and (max-width: 620px) {
					svg, img {
						width: 50%;
						position: absolute;
						left: 100%;
						transform: translateX(-100%);
					}
				}
				svg#bombe-ani {
					.st0 {
						stroke: #000000;
						stroke-miterlimit: 10;
					}

					.st1 {
						fill: #ED1C24;
						stroke: #FBB03B;
						stroke-width: 3;
						stroke-miterlimit: 10;
					}

					.st2 {
						fill: none;
						stroke: #000000;
						stroke-width: 3.1;
						stroke-miterlimit: 10;
					}

					.st3 {
						fill: #EDC124;
						stroke: #FB371D;
						stroke-width: 32;
						stroke-miterlimit: 10;
					}

					g#lunde {

						// display: none;
						path.lunde-ani {
							stroke-dasharray: 550;
							stroke-dashoffset: 0;
						}
					}
				}

				#star-wars {
					.st0 {
						fill: #00FF00;
					}

					.st1 {
						fill: #333333;
					}

					.st2 {
						fill: #666666;
					}

					.st3 {
						fill: #FF0000;
					}
				}
			}
		}

		.left {
			@media only screen and (max-width: 620px) {
				text-align: unset;
			}

			grid-area: 1/1;
			position: relative;
			text-align: center;
			width: 100%;
			transform: translateX(-100%);
			transition: 1s;
			
			
			p {
				@media only screen and (max-width: 620px) {
					padding: 0;
				}
				padding: 4%;
			}

			&.fade-in-from-left {
				transform: translateX(0);
			}
		}

		.right {
			@media only screen and (max-width: 620px) {
				grid-area: 1/1;
				transform: translateX(-100%);
			}
			position: relative;
			transform: translateX(100%);
			transition: 1s;

			&.fade-in-from-right {
				transform: translateX(0);
			}
		}
	}
}

#mobile-indicator {
	display: none;
}
@media only screen and (max-width: 620px) {
	#linje {
		display: none;
	}

	#mobile-indicator {
		display: block;
	}
}
