* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f9f8f5;
}

body div#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-areas: ". center .";
}

body div#wrapper div#area-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 1fr 200px;
      grid-template-rows: 150px 1fr 200px;
      grid-template-areas: "header" "main" "footer";
}

body div#wrapper div#area-wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body div#wrapper div#area-wrapper header nav {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 10px;
}

body div#wrapper div#area-wrapper header nav div#logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

body div#wrapper div#area-wrapper header nav div#logo a {
  display: block;
  width: 200px;
}

body div#wrapper div#area-wrapper header nav div#logo a img {
  width: 100%;
}

body div#wrapper div#area-wrapper header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

body div#wrapper div#area-wrapper header nav ul li {
  margin: 0 2.5%;
  list-style: none;
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 25%;
}

body div#wrapper div#area-wrapper header nav ul li a {
  text-decoration: none;
  display: block;
  color: #000;
}

body div#wrapper div#area-wrapper header nav hr {
  display: none;
  position: absolute;
  width: 8%;
  height: 4px;
  background-color: #01306d;
  border: none;
}

body div#wrapper div#area-wrapper main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

body div#wrapper div#area-wrapper footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  border-top: solid;
}

body div#wrapper div#area-wrapper footer div.social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body div#wrapper div#area-wrapper footer div.social nav a.logo {
  display: block;
  width: 120px;
}

body div#wrapper div#area-wrapper footer div.social nav a.logo img {
  width: 100%;
  margin-bottom: 10px;
}

body div#wrapper div#area-wrapper footer div.social nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div#wrapper div#area-wrapper footer div.social nav ul li {
  list-style: none;
  width: 20%;
}

body div#wrapper div#area-wrapper footer div.social nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 50px;
  display: block;
}

body div#wrapper div#area-wrapper footer div.contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body div#wrapper div#area-wrapper footer div.contact h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev input {
  background: none;
  height: 30px;
  width: 70%;
  border: solid 2px #01306d;
  color: #01306d;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev button {
  height: 30px;
  padding: 5px 10px;
  background: #01306d;
  color: white;
  border: none;
}
/*# sourceMappingURL=main.css.map */