* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Bauhaus93";
  src: url(../../resorces/fonts/BAUHS93.ttf) format("truetype");
}

p {
  line-height: 1.5;
}

body {
  background-color: #f9f8f5;
}

body div#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
      grid-template-areas: ". center .";
}

body div#wrapper div#area-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
}

body div#wrapper div#area-wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body div#wrapper div#area-wrapper header nav {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 10px;
  z-index: 1000;
}

body div#wrapper div#area-wrapper header nav div#logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  body div#wrapper div#area-wrapper header nav div#logo {
    width: 50vw;
  }
}

body div#wrapper div#area-wrapper header nav div#logo a {
  display: block;
}

body div#wrapper div#area-wrapper header nav div#logo a img {
  width: 100%;
  cursor: pointer;
}

body div#wrapper div#area-wrapper header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  body div#wrapper div#area-wrapper header nav ul {
    position: fixed;
    top: -100%;
    left: -15%;
    -ms-grid-column-align: left;
        justify-self: left;
    display: block;
    background-color: #fff;
    text-align: center;
    width: 130%;
    height: 100%;
    padding-top: 100px;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
  body div#wrapper div#area-wrapper header nav ul.show {
    top: 0;
  }
}

body div#wrapper div#area-wrapper header nav ul li {
  margin: 0 2.5%;
  list-style: none;
  color: #000;
  text-align: center;
}

@media only screen and (min-width: 799px) {
  body div#wrapper div#area-wrapper header nav ul li {
    width: 25%;
  }
  body div#wrapper div#area-wrapper header nav ul li hr.burger-hr {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  body div#wrapper div#area-wrapper header nav ul li {
    padding: 20px 0;
  }
  body div#wrapper div#area-wrapper header nav ul li:nth-child(1) {
    padding-top: 0;
  }
  body div#wrapper div#area-wrapper header nav ul li hr.burger-hr {
    width: 4%;
    margin: 0 auto;
    border: solid 2px #01306d;
    border-radius: 2px;
    background-color: #01306d;
    height: 6px;
  }
}

body div#wrapper div#area-wrapper header nav ul li a {
  text-decoration: none;
  display: block;
  color: #000;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 800px) {
  body div#wrapper div#area-wrapper header nav ul li a {
    color: #01306d;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

body div#wrapper div#area-wrapper header nav hr.hr-ani {
  display: none;
  position: absolute;
  width: 8%;
  height: 4px;
  background-color: #01306d;
  border: none;
}

@media only screen and (max-width: 800px) {
  body div#wrapper div#area-wrapper header nav hr.hr-ani {
    display: none !important;
  }
}

body div#wrapper div#area-wrapper header nav svg#Burger {
  position: absolute;
  top: 10px;
  left: -30px;
  width: 50px;
  z-index: 10;
  cursor: pointer;
  fill: #01306d;
  display: none;
}

@media only screen and (max-width: 800px) {
  body div#wrapper div#area-wrapper header nav svg#Burger {
    display: block;
  }
}

body div#wrapper div#area-wrapper main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

body div#wrapper div#area-wrapper footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  border-top: solid;
}

@media only screen and (max-width: 800px) {
  body div#wrapper div#area-wrapper footer {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    height: unset;
    grid-gap: 20px;
  }
  body div#wrapper div#area-wrapper footer div.nyhedsbrev {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  body div#wrapper div#area-wrapper footer div.nyhedsbrev form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body div#wrapper div#area-wrapper footer div.nyhedsbrev form input {
    max-width: 400px;
  }
  body div#wrapper div#area-wrapper footer div.social nav ul a {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 800px) and (max-width: 450px) {
  body div#wrapper div#area-wrapper footer {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
  body div#wrapper div#area-wrapper footer div.nyhedsbrev {
    -ms-grid-column: unset;
        grid-column-start: unset;
    grid-column-end: unset;
  }
  body div#wrapper div#area-wrapper footer div.social nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
  }
  body div#wrapper div#area-wrapper footer div.contact {
    text-align: center;
  }
}

body div#wrapper div#area-wrapper footer a.logo {
  display: block;
  width: 120px;
}

body div#wrapper div#area-wrapper footer a.logo img {
  width: 100%;
  margin-bottom: 10px;
}

body div#wrapper div#area-wrapper footer div.social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body div#wrapper div#area-wrapper footer div.social nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div#wrapper div#area-wrapper footer div.social nav ul li {
  list-style: none;
  margin-right: 10px;
}

body div#wrapper div#area-wrapper footer div.social nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 50px;
}

body div#wrapper div#area-wrapper footer div.contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body div#wrapper div#area-wrapper footer div.contact h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev input {
  background: none;
  height: 30px;
  width: 100%;
  border: solid 2px #01306d;
  color: #01306d;
}

body div#wrapper div#area-wrapper footer div.nyhedsbrev button {
  height: 30px;
  padding: 5px 10px;
  background: #01306d;
  color: white;
  cursor: pointer;
  border: none;
}
/*# sourceMappingURL=main.css.map */