h1 {
  text-align: center;
  margin-bottom: 100px;
}

body {
  position: relative;
}

#lunde-ild {
  -webkit-transform: translate(-31%, -21%);
          transform: translate(-31%, -21%);
}

#linjeContainer {
  position: absolute;
  height: 100%;
  width: 55%;
}

#linjeContainer #linje {
  position: absolute;
  width: 100%;
  height: 100%;
}

#linjeContainer #linje path {
  stroke-dasharray: 3550;
  stroke-dashoffset: 3550;
}

#linjeContainer .dot {
  position: absolute;
  width: 5%;
  opacity: 0;
}

#linjeContainer .show {
  opacity: 1;
}

#linjeContainer #firstDot {
  top: 23.5%;
  left: 94.3%;
}

#linjeContainer #secondDot {
  top: 48.4%;
  left: 67.6%;
}

#linjeContainer #thirdDot {
  top: 77.6%;
  left: 94.5%;
}

#gridContainer {
  display: -ms-grid;
  display: grid;
}

#gridContainer .row {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}

@media only screen and (max-width: 620px) {
  #gridContainer .row {
    -ms-grid-columns: 80% 20%;
        grid-template-columns: 80% 20%;
  }
}

#gridContainer .row .right,
#gridContainer .row .left {
  position: relative;
}

#gridContainer .row .plakat {
  text-align: center;
  width: 100%;
}

#gridContainer .row .plakat img {
  width: 40%;
}

#gridContainer .row .animation.left img {
  width: 30%;
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#gridContainer .row .animation.right svg#bombe-ani g#lunde path.lunde-ani {
  stroke-dasharray: 550;
  stroke-dashoffset: 0;
}

#gridContainer .row .animation.right svg#bombe-ani g#boom {
  -webkit-transform-origin: center;
          transform-origin: center;
  motion-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
  offset-path: path("M583,378c9-13.9,18.2-28.1,22.5-44.1s3.1-34.3-7.3-47.3c-10.3-12.9-27.3-18.2-43.2-22.7	c-24.1-6.7-50.7-12.9-73.4-2.3c-19.2, 9-31.1, 27.9-46.2, 42.6c-15.7, 15.3-35.6, 26.3-57, 31.6c-14.6, 3.6-30.4, 4.5-44.3-1.2 c-18.8-7.6-31.4-26.1-36.7-45.5c-4.6-16.8-4.5-34.8, 0.2-51.5c2.9-10.3, 7.6-20.6, 6.6-31.2");
  -webkit-animation: move 1s linear;
          animation: move 1s linear;
}

@-webkit-keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

#gridContainer .row .left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  position: relative;
  text-align: center;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 620px) {
  #gridContainer .row .left {
    text-align: unset;
  }
}

#gridContainer .row .left p {
  padding: 4%;
}

#gridContainer .row .left.fade-in-from-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#gridContainer .row .right {
  position: relative;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

#gridContainer .row .right.fade-in-from-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (max-width: 620px) {
  #gridContainer .row .right {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1;
  }
  #gridContainer .row .right img {
    width: 50% !important;
    top: unset !important;
    left: 100% !important;
    right: unset !important;
    position: absolute !important;
    -webkit-transform: translate(-100%, 0) !important;
            transform: translate(-100%, 0) !important;
  }
}

#mobile-indicator {
  display: none;
}

@media only screen and (max-width: 620px) {
  #linje {
    display: none;
  }
  #mobile-indicator {
    display: block;
  }
}
/*# sourceMappingURL=tidslinje.css.map */